<link rel="stylesheet" href="/nav.css">
<nav class="nav row">
  <div>
    <a href="/">
      <img class="cgBlue" src="/cgBlue.png" alt="CG Logo">
    </a>
  </div>
  <div class="nav__social row">
    <a href="/about" class="about__link">
      About
    </a>
    <a href="https://facebook.com/Contemporary Gospel">
      <img class="nav__icon" src="/facebook.svg" alt="facebook">
    </a>
    <a href="https://instagram.com/CG_Application ">
      <img class="nav__icon" src="/instagram.svg" alt="instagram">
    </a>
  </div>
</nav>