.docs {
    width: 100%;
    /* display: none; */
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.docs__item {
    width: 50%;
    height: 100%;
}

.docs__description {
    /* background-color: #6741FF; */
}

.route__container {
    width: fit-content;
    padding: 10px 30px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: black;
}