<link rel="stylesheet" href="/about.css">
<%- include('./includes/navigation') %>
<div class="about ">
  <div class="about__item about__img__item">
    <img src="/gospelBanner.png" alt="CG App Preview">
  </div>
  <div class="about__item about_content">
    <div class="about__content__item">
      <h2 class="about__content__header">About Calvary Gospel</h2>
      <p>
        CG App was founded on the principle that technology can enhance our walk with God and facilitate global Christian unity. Our team is passionate about creating a platform where believers can:
      </p>
      <ul class="about__content__list">
        <li>Connect with others who share similar interests and values</li>
        <li>Access inspiring content, including devotionals, sermons, music, videos, ebooks and podcasts.</li>
        <li>Participate in meaningful discussions and prayer groups </li>
        <li>Discover and engage with local Christian events and ministries </li>
      </ul>
    </div>
  </div>
</div>
<div class="goals">
  <div class="goals__item">
    <div class="goals__mission">
      <h3>Our Mission</h3>
      <p>
        To create a digital sanctuary where believers unite, learn and grow in their faith in Christ and community service.
      </p>

    </div>
    <div class="goals__vision">
      <h3>Our Vision</h3>
      <p>
        To be the leading Christian community platform, bridging geographical and denominational divides, and empowering believers to unite and spread God's love.
      </p>
    </div>
  </div>
</div>
<div class="meetTeam">
  <div class="meetTeam__heading">
    <h2>Meet the Team</h2>
  </div>
  <div class="meetTeam__card__item">
    <div class="meet__card">
      <div class="meet__card__img">
        <img src="/Gospel.jpeg" alt="Gospel Emmanuel Bongtur">
      </div>
      <div class="meet__card__content">
        <h3>Gospel Emmanuel</h3>
        <p>Founder & CEO</p>
      </div>
    </div>
    <div class="meet__card">
      <div class="meet__card__img">
        <img src="/Ponman.jpeg" alt="Ponman Emmanuel">
      </div>
      <div class="meet__card__content">
        <h3>Ponman Emmanuel</h3>
        <p>Chief Operating Officer</p>
      </div>
    </div>
    <div class="meet__card">
      <div class="meet__card__img">
        <img src="/Lohpon.jpeg" alt="Lohpon Emmanuel Bongtur">
      </div>
      <div class="meet__card__content">
        <h3>Lohpon Emmanuel</h3>
        <p>Chief Publicity Officer</p>
      </div>
    </div>
    <div class="meet__card">
      <div class="meet__card__img">
        <img src="/Salawu.jpeg" alt="Salawu Emmanuel Adeiza">
      </div>
      <div class="meet__card__content">
        <h3>Salawu Emmanuel Adeiza</h3>
        <p>Chief Finance Office</p>
      </div>
    </div>
    <div class="meet__card">
      <div class="meet__card__img">
        <img src="/Engr.jpeg" alt="Engr Tizhe Paul Tumba">
      </div>
      <div class="meet__card__content">
        <h3>Engr Tizhe Paul Tumba</h3>
        <p>Chief Technical Officer </p>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  AOS.init();
</script>

<%- include('./includes/footer') %>