<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/docs.css" />
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but docs doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      >
    </noscript>
    <div class="docs" id="authorized">
      <div class="docs__item docs__description">
        <div class="col cent">
          <h1>CG Documentation</h1>
          <p>
            This is the documentation for the CG API. Here you can find all the
            information you need to use the API. If you have any questions or
            need help, please contact us at
            <a href="mailto:hello@xorblin.com">hello@xorblin.com</a>
          </p>
        </div>
        <div>
          <div class="route__container">
            <span>Get:/api/login</span>
          </div>
        </div>
      </div>
      <div class="docs__item docs__playground"></div>
    </div>
    <script src="docs.js" type="module"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
      integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
  </body>
</html>
