<link rel="stylesheet" href="/index.css">
<%- include('./includes/navigation') %>
<div class="banner cent">
  <div class="banner__item row">
    <div class="banner__item__text col cent">
      <div>
        <div class="banner__header__container">
          <h1 class="banner__header">Prayer <br> Of the Day</h1>
        </div>
        <p class="banner__description">I pray that they may all be one. Father! May they be in us, just as you are
          in me and I am in you. May they be one, so that the world will believe that
          you sent me. (John 11:21)</p>
        <div class="store__container row">
          <a href="">
            <img class="store__icon" src="/playStore.png" alt="Play Store Icon">
          </a>
          <a href="">
            <img class="store__icon" src="/appStore.svg" alt="App Store Icon">
          </a>
        </div>
      </div>
    </div>
    <div class="banner__item__app__preview cent">
      <img src="/gospelBanner.png" alt="CG App Preview">
    </div>
  </div>
</div>
<%- include('./includes/footer') %>